<<<<<<< HEAD
@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
=======
@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
>>>>>>> 52483df8747c43191efbd10f394b24588eb337aa
}